astroid==2.4.2
attrs==20.3.0
autopep8==1.5.4
bottle==0.12.19
certifi==2020.12.5
chardet==4.0.0
flake8==3.8.4
idna==2.10
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycallgraph==1.0.1
pycodestyle==2.6.0
pydeps==1.9.13
pyflakes==2.2.0
pylint==2.6.0
pyparsing==2.4.7
pytest==6.2.2
redis==3.5.3
requests==2.25.1
six==1.15.0
stdlib-list==0.8.0
tinydb==4.0.0
toml==0.10.2
urllib3==1.26.3
wrapt==1.12.1
